In [1]:
import pandas as pd

import numpy as np

import matplotlib.pyplot as plt

In [2]:
df= pd.read_table('./Pre_processed_data/merged_data_exceptshopping.csv', delimiter= ',', encoding='euc-kr')

In [3]:
df.head()

,Unnamed: 0,ID,BIZ_UNIT,U_AM,U_CT,AGE_PRD,HOM_PST_NO,IS_FEMALE,IS_MALE,CRY,CRM,PRVIN,DESTRICT
0,0,9544,D03,14400,1,30,210,1,0,2015,11,인천광역시,계양구
1,1,9544,C01,18000,1,30,210,1,0,2015,10,인천광역시,계양구
2,2,9544,D01,9500,2,30,210,1,0,2015,8,인천광역시,계양구
3,3,9544,D01,4200,1,30,210,1,0,2015,7,인천광역시,계양구
4,4,9544,D03,3900,1,30,210,1,0,2015,5,인천광역시,계양구

In [4]:
df.drop('Unnamed: 0', axis= 1, inplace= True)

In [5]:
agg_func= {'U_AM': 'sum', 'U_CT': 'sum'}

In [6]:
df= df.groupby(['ID', 'BIZ_UNIT']).agg(agg_func)

In [13]:
df.head(10)

   ID BIZ_UNIT    U_AM  U_CT
0   1      B03  948848     9
1   1      C01   21500     2
2   1      C02   58000     1
3   1      D03   29400     4
4   2      B03  195353     1
5   2      D01    7400     1
6   2      D03   25300     4
7   3      B03  569683     6
8   3      D03   18300     3
9   4      B03  238203     3

In [9]:
df.reset_index(drop= False, inplace= True)

In [18]:
BIZ_list= sorted(df['BIZ_UNIT'].unique().tolist())

In [15]:
df[df['BIZ_UNIT']== 'B01']

          ID BIZ_UNIT      U_AM  U_CT
36        11      B01     55000     1
42        14      B01     87000     1
78        26      B01   5021463    36
105       34      B01    178000     1
126       40      B01    586000     1
147       50      B01     94000     5
154       52      B01     31000     1
158       54      B01    535500     2
165       56      B01     63000     1
195       65      B01    688671    12
218       76      B01    278550     3
254       90      B01    532000     1
273       96      B01     23840     2
282      100      B01     35000     1
287      101      B01     50000     1
335      115      B01    703000     1
351      119      B01     13650     2
364      123      B01     13500     1
375      126      B01  10835124    34
402      140      B01      5000     1
409      142      B01    689950    13
445      154      B01     24300     4
462      158      B01     25200     1
465      159      B01     27610     2
541      192      B01    202300     2
550      194      B01    379500     4
560      197      B01     12500     1
581      203      B01     34000     1
588      206      B01     78300     3
597      209      B01   1039360    21
...      ...      ...       ...   ...
54435  19282      B01    144242     2
54466  19297      B01     60800     2
54493  19308      B01    255000     1
54531  19331      B01     21000     5
54570  19354      B01    302000     3
54616  19385      B01    400450     3
54675  19412      B01     49000     2
54682  19413      B01     26500     2
54727  19430      B01    614200    16
54743  19434      B01    199000     1
54809  19468      B01    266000     1
54858  19497      B01    400000     1
54865  19504      B01     54000     1
54872  19509      B01    224100     2
54908  19534      B01    346000     1
54913  19536      B01    480000     1
54917  19538      B01   1047100     6
54973  19584      B01    197000     1
54999  19605      B01     31000     1
55012  19611      B01    299200     8
55109  19671      B01   2210000     1
55150  19702      B01    205000     1
55171  19713      B01     20000     1
55208  19738      B01    244000     1
55232  19755      B01     87000     1
55322  19805      B01     97200     1
55377  19842      B01    392000     1
55383  19843      B01     76800     2
55480  19907      B01    142800     4
55498  19928      B01   1325000     2

[1948 rows x 4 columns]

In [17]:
sorted(BIZ_list)

['B01', 'B02', 'B03', 'C01', 'C02', 'C03', 'D01', 'D02', 'D03']

In [19]:
df_merge= pd.DataFrame(columns= ['ID'])
for i in BIZ_list:
    df_toadd= df[df['BIZ_UNIT']== i]
    df_toadd.drop('BIZ_UNIT', axis= 1, inplace= True)
    df_toadd.columns= df_toadd.columns.map(lambda x: x+'_'+str(i))
    idname= 'ID_'+str(i)
    df_toadd.rename(columns= {idname: 'ID'}, inplace= True)
    df_merge= pd.merge(df_merge, df_toadd, how= 'outer', on= 'ID')
df_merge.info()

C:\Anaconda3\lib\site-packages\ipykernel_launcher.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  after removing the cwd from sys.path.
C:\Anaconda3\lib\site-packages\pandas\core\frame.py:2844: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  **kwargs)

<class 'pandas.core.frame.DataFrame'>
Int64Index: 17621 entries, 0 to 17620
Data columns (total 19 columns):
ID          17621 non-null int64
U_AM_B01    1948 non-null float64
U_CT_B01    1948 non-null float64
U_AM_B02    43 non-null float64
U_CT_B02    43 non-null float64
U_AM_B03    10296 non-null float64
U_CT_B03    10296 non-null float64
U_AM_C01    10459 non-null float64
U_CT_C01    10459 non-null float64
U_AM_C02    7254 non-null float64
U_CT_C02    7254 non-null float64
U_AM_C03    382 non-null float64
U_CT_C03    382 non-null float64
U_AM_D01    11467 non-null float64
U_CT_D01    11467 non-null float64
U_AM_D02    2248 non-null float64
U_CT_D02    2248 non-null float64
U_AM_D03    11440 non-null float64
U_CT_D03    11440 non-null float64
dtypes: float64(18), int64(1)
memory usage: 2.7 MB

In [24]:
df_merge.sort_values('ID')

,ID,U_AM_B01,U_CT_B01,U_AM_B02,U_CT_B02,U_AM_B03,U_CT_B03,U_AM_C01,U_CT_C01,U_AM_C02,U_CT_C02,U_AM_C03,U_CT_C03,U_AM_D01,U_CT_D01,U_AM_D02,U_CT_D02,U_AM_D03,U_CT_D03
1980,1,0.0,0.0,0.0,0.0,948848.0,9.0,21500.0,2.0,58000.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,29400.0,4.0
1981,2,0.0,0.0,0.0,0.0,195353.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,7400.0,1.0,0.0,0.0,25300.0,4.0
1982,3,0.0,0.0,0.0,0.0,569683.0,6.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,18300.0,3.0
1983,4,0.0,0.0,0.0,0.0,238203.0,3.0,51000.0,2.0,32200.0,2.0,0.0,0.0,90500.0,12.0,0.0,0.0,9200.0,1.0
1984,5,0.0,0.0,0.0,0.0,708645.0,2.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
11344,6,0.0,0.0,0.0,0.0,0.0,0.0,20000.0,2.0,93100.0,11.0,0.0,0.0,343400.0,113.0,0.0,0.0,28200.0,3.0
11345,7,0.0,0.0,0.0,0.0,0.0,0.0,50000.0,6.0,13800.0,1.0,0.0,0.0,4400.0,2.0,0.0,0.0,57600.0,11.0
1985,8,0.0,0.0,0.0,0.0,149838.0,1.0,39500.0,3.0,52700.0,2.0,0.0,0.0,141100.0,10.0,0.0,0.0,148600.0,10.0
1986,9,0.0,0.0,0.0,0.0,176672.0,1.0,0.0,0.0,115000.0,1.0,0.0,0.0,41700.0,4.0,0.0,0.0,23300.0,2.0
1987,10,0.0,0.0,0.0,0.0,215638.0,1.0,348500.0,24.0,0.0,0.0,0.0,0.0,11900.0,2.0,0.0,0.0,21200.0,2.0
0,11,55000.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,83200.0,8.0,0.0,0.0,0.0,0.0,95400.0,1.0,16400.0,2.0
1988,12,0.0,0.0,0.0,0.0,243822.0,5.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
11346,13,0.0,0.0,0.0,0.0,0.0,0.0,10000.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,14,87000.0,1.0,0.0,0.0,33036.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,18500.0,2.0
1989,15,0.0,0.0,0.0,0.0,239889.0,3.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,93700.0,12.0
11347,16,0.0,0.0,0.0,0.0,0.0,0.0,10000.0,1.0,350450.0,4.0,0.0,0.0,0.0,0.0,0.0,0.0,23600.0,2.0
1990,17,0.0,0.0,0.0,0.0,711166.0,7.0,15000.0,2.0,724500.0,18.0,0.0,0.0,6800.0,2.0,0.0,0.0,33600.0,3.0
1991,18,0.0,0.0,0.0,0.0,419838.0,3.0,31500.0,3.0,21800.0,2.0,0.0,0.0,14300.0,4.0,0.0,0.0,183600.0,16.0
1992,19,0.0,0.0,0.0,0.0,2362192.0,3.0,81500.0,5.0,69600.0,3.0,0.0,0.0,13100.0,2.0,0.0,0.0,127200.0,13.0
1993,20,0.0,0.0,0.0,0.0,187593.0,3.0,64000.0,7.0,47200.0,1.0,0.0,0.0,20200.0,4.0,0.0,0.0,26100.0,2.0
11348,21,0.0,0.0,0.0,0.0,0.0,0.0,220000.0,13.0,47300.0,2.0,0.0,0.0,5700.0,1.0,0.0,0.0,29700.0,3.0
14720,22,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,128100.0,3.0,0.0,0.0,40300.0,4.0,0.0,0.0,13400.0,2.0
1994,25,0.0,0.0,0.0,0.0,24182.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,26,5021463.0,36.0,0.0,0.0,10456660.0,20.0,7000.0,1.0,125500.0,4.0,0.0,0.0,0.0,0.0,0.0,0.0,51000.0,4.0
1995,27,0.0,0.0,0.0,0.0,704482.0,3.0,300000.0,31.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,25900.0,3.0
1996,28,0.0,0.0,0.0,0.0,459175.0,10.0,263500.0,25.0,0.0,0.0,0.0,0.0,26600.0,4.0,0.0,0.0,46700.0,6.0
1997,29,0.0,0.0,0.0,0.0,2244914.0,19.0,44000.0,3.0,197000.0,11.0,0.0,0.0,40800.0,6.0,0.0,0.0,29800.0,3.0
1998,30,0.0,0.0,0.0,0.0,135412.0,1.0,0.0,0.0,33200.0,3.0,0.0,0.0,161100.0,39.0,0.0,0.0,23100.0,2.0
11349,31,0.0,0.0,0.0,0.0,0.0,0.0,5000.0,1.0,10500.0,1.0,0.0,0.0,64900.0,16.0,0.0,0.0,0.0,0.0
1999,32,0.0,0.0,0.0,0.0,156340.0,4.0,323200.0,19.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,35600.0,2.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
14714,19935,0.0,0.0,0.0,0.0,0.0,0.0,6000.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
15407,19936,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,44000.0,2.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
11330,19937,0.0,0.0,0.0,0.0,29865.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
14715,19938,0.0,0.0,0.0,0.0,0.0,0.0,16000.0,4.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
15408,19941,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,81900.0,5.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
14716,19942,0.0,0.0,0.0,0.0,0.0,0.0,118000.0,7.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
11331,19944,0.0,0.0,0.0,0.0,152013.0,2.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
17619,19952,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,31400.0,5.0
17155,19954,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,26900.0,6.0,0.0,0.0,0.0,0.0
11332,19958,0.0,0.0,0.0,0.0,173838.0,2.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
17156,19961,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,11400.0,1.0,0.0,0.0,0.0,0.0
11333,19962,0.0,0.0,0.0,0.0,70568.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
14717,19967,0.0,0.0,0.0,0.0,0.0,0.0,18000.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
17157,19969,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,27800.0,4.0,0.0,0.0,0.0,0.0
11334,19971,0.0,0.0,0.0,0.0,753855.0,4.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
11335,19972,0.0,0.0,0.0,0.0,75958.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
14718,19974,0.0,0.0,0.0,0.0,0.0,0.0,110000.0,2.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
15409,19976,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,17100.0,3.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
11336,19977,0.0,0.0,0.0,0.0,217191.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
11337,19978,0.0,0.0,0.0,0.0,167995.0,2.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
11338,19979,0.0,0.0,0.0,0.0,244475.0,2.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,19000.0,1.0
11339,19980,0.0,0.0,0.0,0.0,112573.0,2.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
17620,19981,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,8200.0,1.0
11340,19986,0.0,0.0,0.0,0.0,115532.0,1.0,0.0,0.0,89600.0,2.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
14719,19987,0.0,0.0,0.0,0.0,0.0,0.0,34000.0,3.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
11341,19991,0.0,0.0,0.0,0.0,154153.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
17158,19992,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1500.0,1.0,0.0,0.0,0.0,0.0
11342,19993,0.0,0.0,0.0,0.0,50956.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
11343,19994,0.0,0.0,0.0,0.0,161593.0,4.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
15410,19995,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,133800.0,4.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [21]:
df_merge.fillna(0, inplace=True)

In [23]:
df_merge.to_csv('groupby_ID_nonshopping.csv')