In [7]:
users=[
    {"id":0, "name":"Hero"},
    {"id":1, "name":"Mary"},
    {"id":2, "name": "Clare"},
    {"id":3, "name":"Chi"},
]

In [8]:
dict_ex={"언어": 95, "수리": 100, "외국어": 98}

In [10]:
print(dict_ex)

{'언어': 95, '수리': 100, '외국어': 98}

In [12]:
set_ex={56, 34,67}

In [17]:
print(type(dict_ex), type(set_ex))

<class 'dict'> <class 'set'>

In [18]:
dict_ex["과학"]= 43

In [19]:
print(dict_ex)

{'언어': 95, '수리': 100, '외국어': 98, '과학': 43}

In [20]:
del dict_ex["언어"]; print(dict_ex)

{'수리': 100, '외국어': 98, '과학': 43}

In [21]:
print(dict_ex["수리"], dict_ex["과학"])

100 43

In [22]:
dict_ex["외국어"]= 88

In [23]:
print(dict_ex)

{'수리': 100, '외국어': 88, '과학': 43}

In [24]:
'수리' in dict_ex

True

In [25]:
'한국사' in dict_ex

False

In [26]:
88 in dict_ex

False

In [27]:
set_ex= set(dict_ex)

In [28]:
print(set_ex)

{'외국어', '수리', '과학'}

In [30]:
set_val= set(dict_ex.values())

In [31]:
print(set_val, type(set_val))

{88, 43, 100} <class 'set'>

In [32]:
tup_ex= "I am", "a", "tuple!"

In [33]:
print(tup_ex)

('I am', 'a', 'tuple!')

In [35]:
print(tup_ex[1:4])

('a', 'tuple!')

In [36]:
tup_ex[1]= "not a"

TypeError: 'tuple' object does not support item assignment

In [37]:
team_members= ["Suzy", "Mike", "Jinny", "Clare"]; print(team_members)

['Suzy', 'Mike', 'Jinny', 'Clare']

In [38]:
Kiseok, Seongwon= "Mike", "Santiago"

In [39]:
print(Kiseok[2]+Seongwon[4]+Seongwon[3]+Kiseok[3])

kite

In [40]:
print("ㄱ"+"ㅠ")

ㄱㅠ

In [42]:
Kiseok[2]+Seongwon[4]+Seongwon[3]+Kiseok[3]

'kite'

In [49]:
prob2= "나는 간장새우를 좋아해!"

In [44]:
prob2[3:6]

'파이썬'

In [50]:
prob2[3: -6]

'간장새우'

In [46]:
prob2[3:6]= "돈"

TypeError: 'str' object does not support item assignment

In [51]:
singer= ['자우림', '아이유', '딘']

In [54]:
for elmt in singer: print(elmt)

자우림
아이유
딘

In [56]:
val0714= {"시가": 2554000, "종가": 2524000, "전일비": -4000, "거래량": 164780}; print(val0714)

{'시가': 2554000, '종가': 2524000, '전일비': -4000, '거래량': 164780}